<h1>Editing word sentence link</h1>

<%= render "form", word_sentence_link: @word_sentence_link %>

<br>

<div>
  <%= link_to "Show this word sentence link", @word_sentence_link %> |
  <%= link_to "Back to word sentence links", word_sentence_links_path %>
</div>
