<div id="<%= dom_id language %>">
  <p>
    <strong>Language code:</strong>
    <%= language.language_code %>
  </p>

  <p>
    <strong>English name:</strong>
    <%= language.english_name %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= language.name %>
  </p>

</div>
