<h3 class="sub-header">What does Biblioglot have to offer?</h3>
<div class="card-deck">
  <div class="card">
    <%= image_tag("hear.png", size: "200x200", class: "card-image")%>
    <div class="card-body">
      <h4 class="card-title">Listen to an AI Speaker's Voice</h4>
      <p class="card-text">Finding native speakers is difficult and can be expensive. With such huge advancement in AI voice generation, we can now listen to a machine generated voice that replicates a native speaker's pronunciation.</p>

    </div>
  </div>
  <div class="card">
    <%= image_tag("open-book.png", size: "200x200", class: "card-image")%>
    <div class="card-body">
      <h4 class="card-title">Instantly Look Up Dictionary Definitions</h4>
      <p class="card-text">Flipping through a dictionary is extremely tedious. Even when using online resources, the act of typing a word, finding the proper definition, and going back to the story takes up too much time. Now, you can find the definition of a word with just a click of a button.</p>

    </div>
  </div>
  <div class="card">
    <%= image_tag("translation.png", size: "200x200", class: "card-image")%>
    <div class="card-body">
      <h4 class="card-title">One-Click Translation to English</h4>
      <p class="card-text">Using translation services usually requires opening a new tab and copying the text of your target language. This is tedious and time-consuming. Now, the English translation will be given to you in one click for quick reading comprehension.</p>

    </div>
  </div>
</div>
