<h3 class="sub-header">How Biblioglot Works</h3>
<div class="card-deck">
  <div class="card">
    <%= image_tag("show_page.gif", size: "900x700", class: "card-image")%>
    <div class="card-body">
      <h4 class="card-title">Read like an E-Reader and Select Any Sentence</h4>
      <p class="card-text">Biblioglot acts like a regular E-reader. However, you are able to select any individual sentence to pop up a bubble with everything you need to ease your language learning journey.</p>

    </div>
  </div>
  <div class="card">
    <%= image_tag("word_list.gif", size: "900x700", class: "card-image")%>
    <div class="card-body">
      <h4 class="card-title">Instantly Look Up Dictionary Definitions</h4>
      <p class="card-text">Flipping through a dictionary is extremely tedious. Even when using online resources, the act of typing a word, finding the proper definition, and going back to the story takes up too much time. Now, you can find the definition of a word with just a click of a button.</p>

    </div>
  </div>
</div>
