<h1 class="header">Welcome to Biblioglot!</h1>

<h2 class="header">Take your language skills to the next level!</h2>

<div class="card-deck">
  <div class="card">
    <!--<img class="card-img-top" src="/app/assets/images/speaking.png" alt="Card image cap">-->
    <%= image_tag("speaking.png", size: "200x200")%>
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>

    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="..." alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>

    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="..." alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>

    </div>
  </div>
</div>

<a href="/books">Check out our books!</a>
<br>
<a href="/languages">Add language</a>
