<h1 class="header">Welcome to Biblioglot!</h1>

<h2 class="header">Take your language skills to the next level!</h2>

<h3 class="header">Why was Biblioglot made?</h3>
<div class="card-deck">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">There is Already an Abundance of Beginner Resources</h4>
      <p class="card-text">We all know languages learning apps like Duolingo and most of us have taken beginner classes in school. Once the basics are taught, students are left on their own to improve their language abilities.</p>

    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Finding Native Speakers is Hard</h4>
      <p class="card-text">There's no shortcut. If you want to be fluent, you have to communicate with native speakers. However, it is difficult to find native speakers who are willing to invest time to help you unless you pay a hefty fee.</p>

    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Going through Dictionary and Translation Service is Time-Consuming</h4>
      <p class="card-text">The traditional flipping through a dictionary for a definition is way too time-consuming. The act of copy-pasting to a translation service also takes away time from you learning the language.</p>

    </div>
  </div>
</div>

<br>
<br>
<br>

<h3 class="header">What does Biblioglot have to offer?</h3>
<div class="card-deck">
  <div class="card">
    <%= image_tag("hear.png", size: "200x200", class: "card-image")%>
    <div class="card-body">
      <h4 class="card-title">Listen to an AI Speaker's Voice</h4>
      <p class="card-text">Finding native speakers is difficult and can be expensive. With such huge advancement in AI voice generation, we can now listen to a machine generated voice that replicates a native speaker's pronunciation.</p>

    </div>
  </div>
  <div class="card">
    <%= image_tag("open-book.png", size: "200x200", class: "card-image")%>
    <div class="card-body">
      <h4 class="card-title">Instantly Look Up Dictionary Definitions</h4>
      <p class="card-text">Flipping through a dictionary is extremely tedious. Even when using online resources, the act of typing a word, finding the proper definition, and going back to the story takes up too much time. Now, you can find the definition of a word with just a click of a button.</p>

    </div>
  </div>
  <div class="card">
    <%= image_tag("translation.png", size: "200x200", class: "card-image")%>
    <div class="card-body">
      <h4 class="card-title">One-Click Translation to English</h4>
      <p class="card-text">Using translation services usually requires opening a new tab and copying the text of your target language. This is tedious and time-consuming. Now, the English translation will be given to you in one click for quick reading comprehension.</p>

    </div>
  </div>
</div>

<a href="/books">Check out our books!</a>
<br>
