<h1 class="header">Welcome to Biblioglot!</h1>

<h2 class="header">Take your language skills to the next level!</h2>

<%= render "problem" %>

<br>
<br>
<br>

<%= render "offer" %>

<br>
<br>
<br>

<%= render "work" %>

<br>
<br>
<br>

<h2 class="sub-header">Are you ready to really get better at your target language? Then click below!</h2>
<div class="book-button">
<a href="/books" class="custom-button book-button" role="button">Check out our books!</a>
</div>

<br>
