<h1>Editing definition</h1>

<%= render "form", definition: @definition %>

<br>

<div>
  <%= link_to "Show this definition", @definition %> |
  <%= link_to "Back to definitions", definitions_path %>
</div>
