/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  font-size: 30px;
}

.clickableElement {
  cursor: pointer;
}

.clickableElement:hover{
  background-color: yellow;
}

.bubble {
  display: none;
  /* position: absolute; */
  /* background-color: #f9f9f9; */
  background-color: red;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.center {
  background-color: whitesmoke; /* Adjust color as needed */
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.sentence_bubble {
  background-color: whitesmoke; /* Adjust color as needed */
  border-radius: 10px;
  position: absolute;
  /* top: 50%; */
  left: 50%;
  transform: translate(-50%, -50%);
}

.word_bubble {
  display: none;
  position: absolute;
  /* background-color: #f9f9f9; */
  background-color: lightgrey;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 2;
  margin-top: 10px;
}

.audio_sentence {
 /* padding-top: 10rem; */
  z-index: 1;
}

.audio_word {
  padding-top: 2rem;
  background-color: lightgrey;
}

.story {
  margin: auto;
  width: 60%;
  padding: 10px;
  font-size: 30px;
}

.header {
  text-align: center;
  margin-bottom: 100px;

}

.sub-header {
  text-align: center;
  margin-bottom: 10px;
}

.card-spacing {
  margin-bottom: 40px;
}

.title {
  font-size: 40px;
  font-weight: bold;
}

.card {
  text-align: center;
  padding: 5rem 0;

}

.card-deck {
  padding: 0 20px 0 20px;
}

.card-image {
  display: block;
  margin: 0 auto;
}

.book-button {
text-align: center;
}

.custom-button {
  background-color: #04AA6D; /* Green */
  border: none;
  color: white;
  padding: 50px 100px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 50px;
}

.back {
  background-color: #04AA6D; /* Green */
  border: none;
  color: white;
  padding: 30px 50px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 30px;
}
